@using BookStore.Web.Utility
@model List<Book>

@if (TempData["success"] != null)
{
	<h2>@TempData["success"]</h2>
}
<div class="card shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white py-2">Kitaplar</h2>
			</div>
		</div>
	</div>
	

	<table class="table table-bordered">
		<thead>
		<tr>
			<th>
				Id
			</th>
			<th>
				Kitap Adı
			</th>
			<th>
				Açıklama
			</th>
			<th>
				Yazar
			</th>
			<th>
				Fiyat
			</th>
			<th>
				Kitap Türü
			</th>
			<th></th>
			
		</tr>
		</thead>

		<tbody>
		@foreach (var book in Model)
		{
			<tr>

				<td>@book.Id</td>
				<td>@book.BookName</td>
				<td>@book.Description</td>
				<td>@book.Author</td>
				<td>@book.Price</td>
				<td>@book.BookType.Name</td>
				@if (User.IsInRole(UserRoles.Role_Admin))
				{
					<div class="w-75 btn-group" role="group">
						<td>	<a asp-controller="Book" asp-action="Upsert" asp-route-id="@book.Id" class="btn btn-primary">
								<i class="bi bi-pencil-square"></i> Güncelle
							</a>
							<a asp-controller="BookType" asp-action="Delete" class="btn btn-danger mx-2">
								<i class="bi bi-trash-fill"></i> Sil
							</a></td>
					</div>
				}
			</tr>
		}

		</tbody>
	</table>
	@if (User.IsInRole(UserRoles.Role_Admin))
	{
		<div class="row pt-3 pb-2">
		<div>
			<a asp-controller="Book" asp-action="Upsert" class="btn btn-lg btn-primary" type="button">
				Yeni Kitap Oluştur
			</a>
		</div>
	</div>
	}
</div>
@section Scripts{
	<script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons  lists   table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough |  align lineheight | numlist bullist indent outdent',
        });
    </script>
	@{
		<partial name="_ValidationScriptsPartial"/>
	}
}
